<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jz.videoplayer">
    <application>
        <activity
            android:name="com.jz.videoplayer.ListViewToDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jz.videoplayer.DetailListViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>
</manifest>